.site-header{
    padding: 48px 0;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__btn{
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    background-color: transparent;
    border: none;
    user-select: none;
}
.site-header__page-links{
    text-decoration: none;
    color: #1F3F68;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 0.04em;
    display: inline-block;
    user-select: none;
}